/* burger menu icon */

.burgerMenu {
  display: inline-block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px 0;
  background-color: black;
}

/* Animation for the burger menu icon */
.burgerMenu:hover .bar {
  background-color: #333;
}

/* Rotate the top and bottom bars to form an X when the menu is opened */
.burgerMenu.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burgerMenu.open .bar:nth-child(2) {
  opacity: 0;
}

.burgerMenu.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* menu drawer */

.menu {
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.menuImage {
  margin-top: 1rem;
}
