.cartPage {
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.cartButtonsContainer {
  width: 90%;
}

.totalDisplay {
  margin-bottom: 1em;
}

.cartItemsContainer {
  width: 90%;
}

.cartItem {
  height: 4em;
}

.itemInfo {
  width: 28%;
}

@media screen and (min-width: 400px) {
  .cartItemsContainer {
    width: 40%;
    margin: 0 auto;
  }
  .cartPage {
    align-items: center;
  }
  .cartButtonsContainer {
    width: 30%;
  }
}
