.main {
  min-height: 100vh;
}

.ctaContainer {
  color: white;
  height: auto;
  width: 100vw;
  align-self: flex-start;
  position: relative;
}

.textOverlay {
  text-align: left;
  position: absolute;
  top: 70%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.heroImage {
  height: 90vh;
  width: auto;
  padding-left: 200px;
}

@media screen and (max-width: 450px) {
  .heroImage {
    padding-left: 200px;
  }
}

@media screen and (min-width: 450px) {
  .textOverlay {
    max-width: 50vw;
  }
  .heroImage {
    height: auto;
  }
}

@media screen and (min-width: 1000px) {
  .textOverlay {
    max-width: 30vw;
  }
  .heroImage {
    padding: 0;
    height: 90vh;
    width: auto;
  }
  .ctaContainer {
    padding: 0;
  }
}

@media screen and (min-width: 1900px) {
  .textOverlay {
    left: 30vw;
  }
  .heroImage {
    width: 100vw;
  }
}
